/* Nastavení fontu a barvy hlavičky stránky */
#header {
    font-family: "Showcard Gothic", Serif;
    background-color: #8F04A8;
}

/* Nastavení textu v hlavičce */
#header h1 {
    color: #DCF900;
    font-size: 65px;
    margin: 20px;
}
/* Nastavení barvu pozadí celé stránky */
#page {
    background-color: #E0E0E0;
}

/* Vycentrování obrázku v menu */
#img {
    margin-top: -7px;
}

/* Nastavení obsahu stránky */
#content {
    background-color: #FFFFFF;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    min-height: 440px;
}
/* */
#content h2{
    text-align: center;
}
#content span{
    color: #DCF900;
    font-family: "Showcard Gothic", Serif;
}

#footer {
    margin:auto;
    width: 80%;
    border-radius: 0px 0px 20px 20px;

}
/*
<!--"Droid Sans Mono" -->
*/