/* Nastavení fontu a barvy hlavičky stránky */
#myheader {
    font-family: "Showcard Gothic", Serif;
    background-color: #8F04A8;
}

/* Nastavení textu v hlavičce */
#myheader h1 {
    color: #DCF900;
    font-size: 65px;
    margin: 10px;
}
/* Nastavení barvu pozadí celé stránky */
#page {
    background-color: #E0E0E0;
}

/* Vycentrování obrázku v menu */
#img {
    margin-top: -12px;
}

/* Nastavení obsahu stránky- bílé pozadí, kulaté zarovnání okrajů */
#content {
    font-family: Serif;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    min-height: 500px;
}

/* Nastavení nadpisu v obsahu stránky */
#content h2{
    text-align: center;
}

/* Nastavení určitého textu v obsahu */
#content span{
    color: #DCF900;
    font-family: "Showcard Gothic", Serif;
}

/* Nastavení zápatí stránky*/
#myfooter {
    /* TODO: zmenit barvu textu*/
    background-color: #C5C5C5C5;
    padding: 25px;
    border-radius: 0px 0px 20px 20px;
    font-family: Serif;
    font-size: 16px;
    max-height: 50px;
}

